.market {
  margin-bottom: 80px; }

.market .item {
  border-right: 1px solid #e1e1e1;
  padding: 0px 35px;
  text-align: center; }

.market .item:last-child {
  border-right: none; }

.market h3 {
  margin: 0;
  font-size: 14px; }

.market .stars {
  margin-top: 35px;
  margin-bottom: 15px; }
  .market .stars img {
    margin-left: auto;
    margin-right: auto; }

.market .price p {
  margin: 0; }

.market .price p.de {
  text-decoration: line-through;
  color: #70716b;
  font-size: 10px; }

.market .price p.por {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px; }

.market .price p.or {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 12px; }

.market .price p.or span {
  font-weight: 600;
  font-size: 14px; }

.market .buttons {
  display: flex;
  flex-direction: column; }

.market .btn-buy {
  text-transform: uppercase;
  background-color: #1c1c1c;
  color: white;
  border: 2px solid #2d2d2d;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.market .ico-market {
  background-image: url(../images/icons/carrinho.png);
  width: 20px;
  background-size: contain;
  height: 15px;
  background-repeat: no-repeat;
  display: inline-block; }

.market .economize {
  border: 1px solid #c5c5c5;
  background-color: white;
  padding: 5px 0px; }
