footer {
  .container {
    display: flex;
    justify-content: space-around;
  }
  .box-city {
    display: flex;

    .city-img {
      margin-right: 10px;
    }
    .address p {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .address p:last-child {
      font-weight: bold;
    }
  }
  .contact-us {
    margin-bottom: 10px;
  }
  .contact-online {
    padding: 10px;
    background-color: #fac437;
  }
}
